<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SymfonySemanticVueSkeleton</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('semantic_styles') }}
    {% endblock %}
</head>
<body>
<div id="symfony-semantic-vue-example">
    <div class="ui container" style="margin-top: 20px">
        <h2 class="ui header">SymfonySemanticVueExample</h2>
        <div class="ui three column grid">
            <div class="column">
                <div class="top attached ui segment">
                    Symfony
                </div>
                <div class="attached ui segment">
                    Semantic UI
                </div>
                <div class="attached ui segment">
                    Vue
                </div>
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('semantic_styles') }}
    {{ encore_entry_script_tags('semantic_javascripts') }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
